# IDE and Editor Files
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Build and Project Output
bin/
tmp/
build/
dist/

# Binary Files and Libraries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go-specific Files
*.test

# Go coverage tool output
*.out
coverage.html

# Go workspace files
go.work
go.work.sum

# Environment Files
*.env

# Database Files
*.db
*.db-shm
*.db-wal

# Access logs
.logs/

# Syft-related Files
**/certs
**/syft.pub.*
.data
releases
.env

server.dev.yaml

##Terraform

.terraform.lock.hcl
.terraform.tfstate.lock.info
CLAUDE.md